build*/
ros2/install
ros2/log
ros2/src/livox_ros_driver2/package.xml
.vscode/
.git
__pycache__/
projects/autoRCcar_rl/autoRCcar_gym.egg-info
projects/autoRCcar_rl/train/model
projects/autoRCcar_rl/train/log
projects/autoRCcar_rl/test/.ipynb_checkpoints
